# https://github.com/github-linguist/linguist/blob/main/docs/overrides.md
/*/wasm/pkg/* linguist-generated

kenpixel_mini_square.woff linguist-vendored

/mapart-conv/npm/* linguist-vendored
!/mapart-conv/npm/nbtify/dist/read.js
!/mapart-conv/npm/nbtify/dist/write.js
