
body {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  height: 100vh;
  margin: 0;
  font-family: Monaco, Menlo, Consolas, 'Droid Sans Mono', Inconsolata, 'Courier New', monospace;
}

#maindiv {
  padding-top: 10px;
}

canvas {
  border: 1px solid black;
  image-rendering: pixelated;
}

#progress-display {
  position: absolute;
  top: 0px;
  left: 0px;
  white-space: pre;
  z-index: 1000; /* Ensures it is on top of other content */
}
