
header {
  display: grid;
  grid-template-columns: 1fr auto;
}

#lang-select {
  grid-column: 2 / 3;
}

#main-container {
  max-width: min(80%, 1000px);
  margin: 0 auto;
  padding: 32px;
  margin-top: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: stretch;
  /* border: 1px solid var(--border);
  border-radius: 16px; */

  @media (max-width: 1024px) {
    grid: auto auto / 1fr;
    max-width: 100%;
    margin-top: 0px;
    padding: 16px;
    border: none;
  }
}

#info {
  display: flex;
  justify-content: start;
  align-items: start;
  gap: 10px;
  padding: 5%;
  flex-flow: column nowrap;
  max-height: fit-content;

  @media (max-width: 1024px) {
    padding-top: 10px;
    padding-inline: 40px;
    padding-bottom: 10px;
  }
}

#pfp {
  min-width: 100px;
  max-width: 100px;
}

.badges-container {
  font-weight: 600;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  gap: 10px;
  color: #9ca3af;
}

.button-icon {
  width: 40px;
  height: 40px;
  display: block;
}

.shields-badge {
  border-radius: 4px;
}

.shields-badge > img {
  display: block;
}

#pages {
  padding: 10px;
  /* border: 1px solid var(--border);
  border-radius: 16px; */
}

.app-card {
  background: var(--card-bg);
  margin: 22px;
  /* width: 100%; */
  padding: 20px;
  border: 1px solid var(--border);
  border-radius: 16px;
  display: flex;
  flex-flow: column nowrap;
  gap: 10px;
}

.app-card-title {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
}

.app-icon, .app-icon-placeholder {
  min-width: 64px;
  max-width: 64px;
  min-height: 64px;
  max-height: 64px;
  border-radius: 10px;
  align-self: start;
}

.app-name {
  font-weight: 700;
  margin-left: 20px;
  min-height: 100%;
  display: flex;
  flex-flow: row wrap;
  align-content: center;
}

.badge {
  background: var(--badge-bg);
  outline: 1px solid var(--accent);
  outline-offset: -1px;
  border-radius: 0.2lh;
  padding-inline: 0.25lh;
}

.badge > a[target="_blank"]::after {
  content: "↗";
  display: inline-block;
  margin-left: 2px;
}

/* .app-desc {} */

#spacer {
  height: 88px;
  margin-top: 32px;
  @media (max-width: 1024px) {
    height: 48px;
  }
}
