
body {
  margin: 0;
  font-family: var(--mono);
}

#site-header {
  width: 100%;
  grid-template-columns: auto auto 1fr auto;
  padding-inline: 32px;
  box-sizing: border-box;
}

h1 {
  padding-left: 32px;
  font-size: xx-large;
}

#lang-select {
  margin: 8px !important;
}

#app {
  padding-top: 10px;
  display: flex;
  flex-flow: column nowrap;
  align-items: safe center;
  gap: 16px;
}

hr {
  width: 100%;
}

#site-description-container {
  display: flex;
  flex-direction: column;
  width: 80vw;
  font-family: var(--sans);
}

#maindiv {
  width: min-content;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#presetSelect {
  padding: 4px;
}

.mainCanvas {
  margin-top: 16px;
  image-rendering: pixelated;
  user-select: none;
  -webkit-user-select: none;
  touch-action: none;
}

.hoverTextElement {
  align-self: start;
  min-height: 2lh;
}

.dev-section {
  display: flex;
  margin: 32px;
  gap: 10px;
}
